html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.coda-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.coda-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.coda-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.coda-table,.coda-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.coda-table-all{border:1px solid #ccc}
.coda-bordered tr,.coda-table-all tr{border-bottom:1px solid #ddd}.coda-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.coda-table-all tr:nth-child(odd){background-color:#fff}.coda-table-all tr:nth-child(even){background-color:#f1f1f1}
.coda-hoverable tbody tr:hover,.coda-ul.coda-hoverable li:hover{background-color:#ccc}.coda-centered tr th,.coda-centered tr td{text-align:center}
.coda-table td,.coda-table th,.coda-table-all td,.coda-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.coda-table th:first-child,.coda-table td:first-child,.coda-table-all th:first-child,.coda-table-all td:first-child{padding-left:16px}
.coda-btn,.coda-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.coda-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.coda-btn,.coda-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.coda-disabled,.coda-btn:disabled,.coda-button:disabled{cursor:not-allowed;opacity:0.3}.coda-disabled *,:disabled *{pointer-events:none}
.coda-btn.coda-disabled:hover,.coda-btn:disabled:hover{box-shadow:none}
.coda-badge,.coda-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.coda-badge{border-radius:50%}
.coda-ul{list-style-type:none;padding:0;margin:0}.coda-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.coda-ul li:last-child{border-bottom:none}
.coda-tooltip,.coda-display-container{position:relative}.coda-tooltip .coda-text{display:none}.coda-tooltip:hover .coda-text{display:inline-block}
.coda-ripple:active{opacity:0.5}.coda-ripple{transition:opacity 0s}
.coda-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.coda-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.coda-dropdown-click,.coda-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.coda-dropdown-hover:hover .coda-dropdown-content{display:block;z-index:1}
.coda-dropdown-hover:first-child,.coda-dropdown-click:hover{background-color:#ccc;color:#000}
.coda-dropdown-hover:hover > .coda-button:first-child,.coda-dropdown-click:hover > .coda-button:first-child{background-color:#ccc;color:#000}
.coda-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.coda-check,.coda-radio{width:24px;height:24px;position:relative;top:6px}
.coda-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.coda-bar-block .coda-dropdown-hover,.coda-bar-block .coda-dropdown-click{width:100%}
.coda-bar-block .coda-dropdown-hover .coda-dropdown-content,.coda-bar-block .coda-dropdown-click .coda-dropdown-content{min-width:100%}
.coda-bar-block .coda-dropdown-hover .coda-button,.coda-bar-block .coda-dropdown-click .coda-button{width:100%;text-align:left;padding:8px 16px}
.coda-main,#main{transition:margin-left .4s}
.coda-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.coda-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.coda-bar{width:100%;overflow:hidden}.coda-center .coda-bar{display:inline-block;width:auto}
.coda-bar .coda-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.coda-bar .coda-dropdown-hover,.coda-bar .coda-dropdown-click{position:static;float:left}
.coda-bar .coda-button{white-space:normal}
.coda-bar-block .coda-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.coda-bar-block.coda-center .coda-bar-item{text-align:center}.coda-block{display:block;width:100%}
.coda-responsive{overflow-x:auto}
.coda-container:after,.coda-container:before,.coda-panel:after,.coda-panel:before,.coda-row:after,.coda-row:before,.coda-row-padding:after,.coda-row-padding:before,
.coda-cell-row:before,.coda-cell-row:after,.coda-clear:after,.coda-clear:before,.coda-bar:before,.coda-bar:after{content:"";display:table;clear:both}
.coda-col,.coda-half,.coda-third,.coda-twothird,.coda-threequarter,.coda-quarter{float:left;width:100%}
.coda-col.s1{width:8.33333%}.coda-col.s2{width:16.66666%}.coda-col.s3{width:24.99999%}.coda-col.s4{width:33.33333%}
.coda-col.s5{width:41.66666%}.coda-col.s6{width:49.99999%}.coda-col.s7{width:58.33333%}.coda-col.s8{width:66.66666%}
.coda-col.s9{width:74.99999%}.coda-col.s10{width:83.33333%}.coda-col.s11{width:91.66666%}.coda-col.s12{width:99.99999%}
@media (min-width:601px){.coda-col.m1{width:8.33333%}.coda-col.m2{width:16.66666%}.coda-col.m3,.coda-quarter{width:24.99999%}.coda-col.m4,.coda-third{width:33.33333%}
.coda-col.m5{width:41.66666%}.coda-col.m6,.coda-half{width:49.99999%}.coda-col.m7{width:58.33333%}.coda-col.m8,.coda-twothird{width:66.66666%}
.coda-col.m9,.coda-threequarter{width:74.99999%}.coda-col.m10{width:83.33333%}.coda-col.m11{width:91.66666%}.coda-col.m12{width:99.99999%}}
@media (min-width:993px){.coda-col.l1{width:8.33333%}.coda-col.l2{width:16.66666%}.coda-col.l3{width:24.99999%}.coda-col.l4{width:33.33333%}
.coda-col.l5{width:41.66666%}.coda-col.l6{width:49.99999%}.coda-col.l7{width:58.33333%}.coda-col.l8{width:66.66666%}
.coda-col.l9{width:74.99999%}.coda-col.l10{width:83.33333%}.coda-col.l11{width:91.66666%}.coda-col.l12{width:99.99999%}}
.coda-content{max-width:980px;margin:auto}.coda-rest{overflow:hidden}
.coda-cell-row{display:table;width:100%}.coda-cell{display:table-cell}
.coda-cell-top{vertical-align:top}.coda-cell-middle{vertical-align:middle}.coda-cell-bottom{vertical-align:bottom}
.coda-hide{display:none!important}.coda-show-block,.coda-show{display:block!important}.coda-show-inline-block{display:inline-block!important}
@media (max-width:600px){.coda-modal-content{margin:0 10px;width:auto!important}.coda-modal{padding-top:30px}
.coda-dropdown-hover.coda-mobile .coda-dropdown-content,.coda-dropdown-click.coda-mobile .coda-dropdown-content{position:relative}	
.coda-hide-small{display:none!important}.coda-mobile{display:block;width:100%!important}.coda-bar-item.coda-mobile,.coda-dropdown-hover.coda-mobile,.coda-dropdown-click.coda-mobile{text-align:center}
.coda-dropdown-hover.coda-mobile,.coda-dropdown-hover.coda-mobile .coda-btn,.coda-dropdown-hover.coda-mobile .coda-button,.coda-dropdown-click.coda-mobile,.coda-dropdown-click.coda-mobile .coda-btn,.coda-dropdown-click.coda-mobile .coda-button{width:100%}}
@media (max-width:768px){.coda-modal-content{width:500px}.coda-modal{padding-top:50px}}
@media (min-width:993px){.coda-modal-content{width:900px}.coda-hide-large{display:none!important}.coda-sidebar.coda-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.coda-hide-medium{display:none!important}}
@media (max-width:992px){.coda-sidebar.coda-collapse{display:none}.coda-main{margin-left:0!important;margin-right:0!important}}
.coda-top,.coda-bottom{position:fixed;width:100%;z-index:1}.coda-top{top:0}.coda-bottom{bottom:0}
.coda-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.coda-display-topleft{position:absolute;left:0;top:0}.coda-display-topright{position:absolute;right:0;top:0}
.coda-display-bottomleft{position:absolute;left:0;bottom:0}.coda-display-bottomright{position:absolute;right:0;bottom:0}
.coda-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.coda-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.coda-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.coda-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.coda-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.coda-display-container:hover .coda-display-hover{display:block}.coda-display-container:hover span.coda-display-hover{display:inline-block}.coda-display-hover{display:none}
.coda-display-position{position:absolute}
.coda-circle{border-radius:50%}
.coda-round-small{border-radius:2px}.coda-round,.coda-round-medium{border-radius:4px}.coda-round-large{border-radius:8px}.coda-round-xlarge{border-radius:16px}.coda-round-xxlarge{border-radius:32px}
.coda-row-padding,.coda-row-padding>.coda-half,.coda-row-padding>.coda-third,.coda-row-padding>.coda-twothird,.coda-row-padding>.coda-threequarter,.coda-row-padding>.coda-quarter,.coda-row-padding>.coda-col{padding:0 8px}
.coda-container,.coda-panel{padding:0.01em 16px}.coda-panel{margin-top:16px;margin-bottom:16px}
.coda-code,.coda-codespan{font-family:Consolas,"courier new";font-size:16px}
.coda-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.coda-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.coda-card,.coda-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.coda-card-4,.coda-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.coda-spin{animation:coda-spin 2s infinite linear}@keyframes coda-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.coda-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.coda-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.coda-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.coda-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.coda-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.coda-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.coda-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.coda-animate-input{transition:width 0.4s ease-in-out}.coda-animate-input:focus{width:100%!important}
.coda-opacity,.coda-hover-opacity:hover{opacity:0.60}.coda-opacity-off,.coda-hover-opacity-off:hover{opacity:1}
.coda-opacity-max{opacity:0.25}.coda-opacity-min{opacity:0.75}
.coda-greyscale-max,.coda-grayscale-max,.coda-hover-greyscale:hover,.coda-hover-grayscale:hover{filter:grayscale(100%)}
.coda-greyscale,.coda-grayscale{filter:grayscale(75%)}.coda-greyscale-min,.coda-grayscale-min{filter:grayscale(50%)}
.coda-sepia{filter:sepia(75%)}.coda-sepia-max,.coda-hover-sepia:hover{filter:sepia(100%)}.coda-sepia-min{filter:sepia(50%)}
.coda-tiny{font-size:10px!important}.coda-small{font-size:12px!important}.coda-medium{font-size:15px!important}.coda-large{font-size:18px!important}
.coda-xlarge{font-size:24px!important}.coda-xxlarge{font-size:36px!important}.coda-xxxlarge{font-size:48px!important}.coda-jumbo{font-size:64px!important}
.coda-left-align{text-align:left!important}.coda-right-align{text-align:right!important}.coda-justify{text-align:justify!important}.coda-center{text-align:center!important}
.coda-border-0{border:0!important}.coda-border{border:1px solid #ccc!important}
.coda-border-top{border-top:1px solid #ccc!important}.coda-border-bottom{border-bottom:1px solid #ccc!important}
.coda-border-left{border-left:1px solid #ccc!important}.coda-border-right{border-right:1px solid #ccc!important}
.coda-topbar{border-top:6px solid #ccc!important}.coda-bottombar{border-bottom:6px solid #ccc!important}
.coda-leftbar{border-left:6px solid #ccc!important}.coda-rightbar{border-right:6px solid #ccc!important}
.coda-section,.coda-code{margin-top:16px!important;margin-bottom:16px!important}
.coda-margin{margin:16px!important}.coda-margin-top{margin-top:16px!important}.coda-margin-bottom{margin-bottom:16px!important}
.coda-margin-left{margin-left:16px!important}.coda-margin-right{margin-right:16px!important}
.coda-padding-small{padding:4px 8px!important}.coda-padding{padding:8px 16px!important}.coda-padding-large{padding:12px 24px!important}
.coda-padding-16{padding-top:16px!important;padding-bottom:16px!important}.coda-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.coda-padding-32{padding-top:32px!important;padding-bottom:32px!important}.coda-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.coda-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.coda-left{float:left!important}.coda-right{float:right!important}
.coda-button:hover{color:#000!important;background-color:#ccc!important}
.coda-transparent,.coda-hover-none:hover{background-color:transparent!important}
.coda-hover-none:hover{box-shadow:none!important}
/* Colors */
.coda-amber,.coda-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.coda-aqua,.coda-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.coda-blue,.coda-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.coda-light-blue,.coda-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.coda-brown,.coda-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.coda-cyan,.coda-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.coda-blue-grey,.coda-hover-blue-grey:hover,.coda-blue-gray,.coda-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.coda-green,.coda-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.coda-light-green,.coda-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.coda-indigo,.coda-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.coda-khaki,.coda-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.coda-lime,.coda-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.coda-orange,.coda-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.coda-deep-orange,.coda-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.coda-pink,.coda-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.coda-purple,.coda-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.coda-deep-purple,.coda-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.coda-red,.coda-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.coda-sand,.coda-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.coda-teal,.coda-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.coda-yellow,.coda-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.coda-white,.coda-hover-white:hover{color:#000!important;background-color:#fff!important}
.coda-black,.coda-hover-black:hover{color:#fff!important;background-color:#000!important}
.coda-grey,.coda-hover-grey:hover,.coda-gray,.coda-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.coda-light-grey,.coda-hover-light-grey:hover,.coda-light-gray,.coda-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.coda-dark-grey,.coda-hover-dark-grey:hover,.coda-dark-gray,.coda-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.coda-pale-red,.coda-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.coda-pale-green,.coda-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.coda-pale-yellow,.coda-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.coda-pale-blue,.coda-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.coda-text-red,.coda-hover-text-red:hover{color:#f44336!important}
.coda-text-green,.coda-hover-text-green:hover{color:#4CAF50!important}
.coda-text-blue,.coda-hover-text-blue:hover{color:#2196F3!important}
.coda-text-yellow,.coda-hover-text-yellow:hover{color:#ffeb3b!important}
.coda-text-white,.coda-hover-text-white:hover{color:#fff!important}
.coda-text-black,.coda-hover-text-black:hover{color:#000!important}
.coda-text-grey,.coda-hover-text-grey:hover,.coda-text-gray,.coda-hover-text-gray:hover{color:#757575!important}
.coda-text-amber{color:#ffc107!important}
.coda-text-aqua{color:#00ffff!important}
.coda-text-light-blue{color:#87CEEB!important}
.coda-text-brown{color:#795548!important}
.coda-text-cyan{color:#00bcd4!important}
.coda-text-blue-grey,.coda-text-blue-gray{color:#607d8b!important}
.coda-text-light-green{color:#8bc34a!important}
.coda-text-indigo{color:#3f51b5!important}
.coda-text-khaki{color:#b4aa50!important}
.coda-text-lime{color:#cddc39!important}
.coda-text-orange{color:#ff9800!important}
.coda-text-deep-orange{color:#ff5722!important}
.coda-text-pink{color:#e91e63!important}
.coda-text-purple{color:#9c27b0!important}
.coda-text-deep-purple{color:#673ab7!important}
.coda-text-sand{color:#fdf5e6!important}
.coda-text-teal{color:#009688!important}
.coda-text-light-grey,.coda-hover-text-light-grey:hover,.coda-text-light-gray,.coda-hover-text-light-gray:hover{color:#f1f1f1!important}
.coda-text-dark-grey,.coda-hover-text-dark-grey:hover,.coda-text-dark-gray,.coda-hover-text-dark-gray:hover{color:#3a3a3a!important}
.coda-border-red,.coda-hover-border-red:hover{border-color:#f44336!important}
.coda-border-green,.coda-hover-border-green:hover{border-color:#4CAF50!important}
.coda-border-blue,.coda-hover-border-blue:hover{border-color:#2196F3!important}
.coda-border-yellow,.coda-hover-border-yellow:hover{border-color:#ffeb3b!important}
.coda-border-white,.coda-hover-border-white:hover{border-color:#fff!important}
.coda-border-black,.coda-hover-border-black:hover{border-color:#000!important}
.coda-border-grey,.coda-hover-border-grey:hover,.coda-border-gray,.coda-hover-border-gray:hover{border-color:#bbb!important}