    <div class="credits text-center">
        <p>
            Designed by Jainul Aslam
        </p>
    </div>
	<script src="../bootstrapresources/vendor/jquery/jquery.min.js"></script>
    <script src="../bootstrapresources/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrapresources/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="../bootstrapresources/dist/js/sb-admin-2.js"></script>

</body>

</html>
