<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hotel Reservation Portal</title>
    
    <link href="../bootstrapresources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrapresources/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="../bootstrapresources/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../bootstrapresources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
 
</head>
<body>
