<!DOCTYPE html>
<html lang="en">

<head>


    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <link href="../bootstrapresources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrapresources/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="../bootstrapresources/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../bootstrapresources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../resources/css/main.css">


</head>

<body ng-app="seatReservationApp">
    <div id="wrapper" ng-controller="MainCtrl">


        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
             
                <a class="navbar-brand" href="#">Coda Global | Hotel Booking</a>
            </div>


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        
                        <li>
                            <a href="/customer/dashboard"><i class="fa fa-table fa-fw"></i> Book a table</a>
                        </li>
                        <li>
                            <a href="/customer/editprofile"><i class="fa fa-edit fa-fw"></i> Edit Profile</a>
                        </li>
                        <li>
                            <a href="/customer/logout"><i class="fa fa-files-o fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Table Booking.</h1>
                </div>

            </div>
		<div ng-show="selectedTables.length" ng-hide="!selectedTables.length">
			<h3 align='center'> Selected Seats : {{selectedTables}} 
			<button type="submit" ng-click="showSelected()" class="btn btn-primary">Confirm Booking</button> &nbsp;
</h3>
			<br/>
		</div>
	<div ng-repeat="mainRow in numberOfRows">
            <div class="row">
               
			<div ng-repeat="table in numberOfTables">
				 <div class="col-lg-4" >
                  			  <div class="panel panel-default">
                        			
                       				 <div >


			<table class="seatLayout" >
        <tr>
            <td class="padding-bottom"></td>
            <td class="padding-bottom" ng-repeat="col in cols track by $index" ng-bind="getColumnNumber(col,table)"></td>
        </tr>
        <tr ng-repeat="row in rows">
            <td class="padding-right" ng-bind="getRowName(mainRow,row)"></td>
            <td class="seat" ng-repeat="col in cols" ng-click="newseatClicked(row,col,mainRow,table)" ng-switch on="newgetStatus(row,col,mainRow,table)">
                <img ng-switch-when="selected" src="../resources/images/seat_selected.png" width="130%">
                <img ng-switch-when="selectedRotated" src="../resources/images/seat_selected.png" width="130%" class="rotate180">
                <img ng-switch-when="reserved" src="../resources/images/seat_reserved.png" width="130%">
                <img ng-switch-when="reservedRotated" src="../resources/images/seat_reserved.png" width="130%" class="rotate180">
                <img ng-switch-when="rotated" src="../resources/images/seat_available.png" width="130%" class="rotate180">
                <img ng-switch-default src="../resources/images/seat_available.png" width="130%">
            </td>
        </tr>
    </table>

                       				 </div>
                        
                   			 </div>
               			 </div>
			</div>
            </div>
	</div>

            
        </div>


    </div>
    <script src="../bootstrapresources/vendor/jquery/jquery.min.js"></script>
    <script src="../bootstrapresources/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstrapresources/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="../bootstrapresources/dist/js/sb-admin-2.js"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="../resources/scripts/app.js"></script>
<!-- Booking -->

</body>

</html>